@font-face {
	font-family: DINPro;
	font-weight: 300;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Medium.otf');
}

@font-face {
	font-family: DINPro;
	font-weight: normal;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Regular.otf');
}

@font-face {
	font-family: DINPro;
	font-weight: 500;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Bold.otf');
}

@font-face {
	font-family: PingFangSC;
	font-weight: 300;
	font-style: normal;
	src: url('@/static/fonts/PingFang-Medium.ttf');
}

@font-face {
	font-family: PingFangSC;
	font-weight: normal;
	font-style: normal;
	src: url('@/static/fonts/PingFang-Regular.ttf');
}

@font-face {
	font-family: PingFangSC;
	font-weight: 500;
	font-style: normal;
	src: url('@/static/fonts/PingFang-Bold.ttf');
}

@font-face {
	font-family: HYQiuShi;
	font-weight: 300;
	font-style: normal;
	src: url('@/static/fonts/HYQiuShi.ttf');
}

@font-face {
	font-family: HYZhengYuan;
	font-weight: 400;
	font-style: normal;
	src: url('@/static/fonts/HYZhengYuan-65W.ttf');
}

@font-face {
	font-family: HYZhengYuan;
	font-weight: 700;
	font-style: bold;
	src: url('@/static/fonts/HYZhengYuan-95W.ttf');
}