.explain{
	&-image{
		image{
			// width: 59%;
			width: 496upx;
			height: 207upx;
			margin: auto;
		}
		position: relative;
		z-index: 2;
	}
	&-flow{
		width: 100%;
		margin: -20upx auto 0;
		position: relative;
		z-index: 1;
		image{
			width: 100%;
		}
	}
	&-box{
		margin: -60upx auto 0;
		padding: 0upx 0 0 18upx;
		position: relative;
		z-index: 2;
	}
	&-bg{
		background: url('@/static/first/icon-first-ruleBg.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 32upx 73upx 100upx 170upx;
	} 
	&-item{
		position: relative;
		@include flexCenter;
		align-items: flex-start;
		&__box{
			@include flexLeftColumn;
			margin-right: 20upx;
			&-title{
				font-size: 26upx;
				font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
				font-weight: 400;
				text-align: center;
				color: #5f503e;
				line-height: 77upx;
				letter-spacing: -3upx;
				margin: auto;
			}
			&-content{
				font-size: 20upx;
				font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
				font-weight: 400;
				text-align: left;
				color: #8e7c66;
				line-height: 24upx;
				width: 230upx;
			}
			&__time{
				font-size: 20upx;
				font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
				font-weight: 400;
				text-align: center;
				color: #5f503e;
				line-height: 24upx;
				position: absolute;
				bottom: -10upx;
				right: 0;
			}
		}
		&__rightBox{
			// @include flexCenter;
			margin-top: 20upx;
			&-content{
				font-size: 20upx;
				font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
				font-weight: 400;
				text-align: left;
				color: #8e7c66;
				line-height: 24upx;
				margin-bottom: 10upx;
			}
			&-carefulBox{
				background: url('@/static/first/icon-first-ruleBg-border.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				padding: 10upx 16upx 26upx;
				&__title{
					font-size: 20upx;
					font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
					font-weight: 400;
					text-align: center;
					color: #8e7c66;
					line-height: 24upx;
					margin-bottom: 15upx;
				}
				&__content{
					font-size: 19upx;
					font-family: HYDaLiShuJ, HYDaLiShuJ-Regular;
					font-weight: 400;
					text-align: left;
					color: #5f503e;
					line-height: 24upx;
				}
			}
		}
	}
}