.popupBox{
	&-input{
		background-image: url(@/static/package/icon-input-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// background: linear-gradient(0deg,#030404 0%, #1d2c27 49%, #030302 100%);
		border-radius: 8upx;
		margin: 27upx 48upx 0;
		padding: 32upx;
		input{
			font-size: 28upx;
			font-family: PingFang SC, PingFang SC-Medium;
			font-weight: 500;
			text-align: center;
			color: #ffffff;
		}
		&__style{
			font-size: 28upx;
			font-family: PingFang SC, PingFang SC-Medium;
			font-weight: 500;
			text-align: center;
			color: #ffffff;
		}
	}
	&-contentbg{
		&__info{
			@include flexAround;
		}
		&__cardImage{
			@include flexCenterColumn;
			&--bg{
				background-image: url(@/static/package/icon-transfer-add.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				padding: 12upx;
				margin: 30upx 0 15upx;
				position: relative;
				display: inline-block;
			}
			&--border{
				background-image: url(@/static/package/icon-border-active.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				padding: 12upx;
				margin: 30upx 0 15upx;
				position: relative;
				display: inline-block;
			}
			&--close{
				width: 36upx;
				height: 36upx;
				position: absolute;
				right: -16upx;
				top: -16upx;
			}
			&--card{
				width: 168upx;
				height: 237upx;
			}
		}
		&__imageNum{
			font-size: 34upx;
			font-family: HYZhengYuan, HYZhengYuan-65S;
			font-weight: 65S;
			text-align: center;
			color: #ffffff;
			letter-spacing: -1upx;
		}
		&__imageTitle{
			font-size: 23upx;
			font-family: PingFang SC, PingFang SC-Medium;
			font-weight: 500;
			text-align: center;
			color: #585246;
			margin-top: 15upx;
		}
	}
}