.fixedBtnBox {
	position: fixed;
	z-index: 99;
	top: 220upx;
	left: 30upx;
	
	&-wrapper {
		@include flexCenterColumn;
	}
	
	&-btn {
		@include fullImage;
		width: 106upx;
		margin-bottom: 45upx;
		
		&:last-child{
			margin-bottom: 0;
		}
	}
}
