.blindBox {
	&-wrapper {
		height: calc(100vh - 400upx - 160upx);
		padding: 30upx;
	}

	&-plane {
		@include flexCenterColumn;
		justify-content: flex-start;
	}

	&-price {
		@include flexCenter;
		font-family: 'DINPro';
		color: #fda435;
		font-size: 28upx;
		width: 194upx;
		height: 54upx;

		background-size: 194upx 54upx;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(@/static/shop/icon-price-bg.png);
		margin-bottom: 30upx;
	}

	&-icon {
		@include fullImage;
		width: 340upx;
		margin-bottom: 30upx;
	}

	&-messageBox {
		margin-bottom: 60upx;
	}

	&-calculateBox {
		margin-bottom: 30upx;
	}
}

.messageBox {
	&-list {
		text-align: center;
		font-family: 'DINPro';
		color: #ffffff;
		font-size: 28upx;
		padding: 8upx 0;

		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bcab79+0,bcab79+50,bcab79+100&0.05+0,1+50,0.05+100 */
		background: -moz-linear-gradient(left, rgba(188, 171, 121, 0.05) 0%, rgba(188, 171, 121, 1) 50%, rgba(188, 171, 121, 0.05) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(188, 171, 121, 0.05) 0%, rgba(188, 171, 121, 1) 50%, rgba(188, 171, 121, 0.05) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to right,
			rgba(188, 171, 121, 0.05) 0%,
			rgba(188, 171, 121, 1) 50%,
			rgba(188, 171, 121, 0.05) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dbcab79', endColorstr='#0dbcab79',GradientType=1 ); /* IE6-9 */
	}
}

.calculateBox {
	&-wrapper {
	}

	&-list {
		@include flexCenter;
		margin-bottom: 15upx;
	}

	&-btn {
		height: 50upx;
		width: 50upx;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;

		&--minus {
			background-image: url(@/static/public/icon-calc-minus.png);
		}

		&--plus {
			background-image: url(@/static/public/icon-calc-plus.png);
		}
	}

	&-input {
		@include flexCenter;
		border: 1px solid #ffffff;
		background-color: rgba($color: #a97a3c, $alpha: 0.8);
		border-radius: 12upx;
		width: 260upx;
		margin: 0 15upx;
		height: 68upx;

		input {
			text-align: center;
			flex: 1;
			font-family: 'DINPro';
			color: #e9ba51;
			font-size: 32upx;
			font-weight: bold;
			text-shadow: -2upx -2upx 0 #702f00, 2upx -2upx 0 #702f00, -2upx 2upx 0 #702f00, 2upx 2upx 0 #702f00, 0px 4upx 4upx #702f00;
		}
	}

	&-placeholder {
		color: #e9ba51;
	}

	&-result {
		color: #ffffff;
		font-size: 24upx;
		text-align: center;
	}
}

.buttonBox {
	@include flexCenter;

	&-btn {
		@include flexCenter;
		width: 224upx;
		height: 82upx;
		color: #54330a;
		font-size: 36upx;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		margin-right: 120upx;
		background-image: url(@/static/public/icon-button-style3.png);

		&:last-child {
			margin-right: 0;
		}

		&--active {
			background-image: url(@/static/public/icon-button-style4.png);
		}
	}
}
