.worldList{
	
}
.initTabs{
	&-records{
		width: 65%;
		margin: auto;
	}
}
.listBox{
	&__height{
		height: calc(100vh - 1200upx);
		min-height: 480upx;
	}
	&-wrapper{
		background-image: url(@/static/team/icon-team-listBg.png);
		background-position: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -40upx 17upx 0;
		padding: 65upx 49upx;
	}
	&-header{
		width: 100%;
		@include flexLeft;
		margin: 20upx 0 10upx;
		&__item{
			font-size: 26upx;
			font-family: PingFang SC, PingFang SC-Bold;
			font-weight: 700;
			text-align: left;
			color: #885a3c;
			width: 18%;
			&:nth-child(1){
				width: 25%;
			}
			&:nth-child(2){
				width: 32%;
				flex: 1;
			}
			&:nth-last-child(1){
				text-align: right;
				@include flexRight;
			}
			&-open{
				@include flexCenter
				margin-left: 12upx;
				image{
					width: 25upx;
					// -webkit-transform: rotate(180deg); /* 旋转角度 Chrome, Safari, Opera */
					// transform: rotate(180deg);/* 旋转角度*/
				}
				&--active{
					-webkit-transform: rotate(180deg); /* 旋转角度 Chrome, Safari, Opera */
					transform: rotate(180deg);/* 旋转角度*/
				}
			}
			&--width{
				width: 28%;
				flex: inherit;
			}
			&--flex{
				flex: 1;
			}
		}
	}
	&-itemBox{
		width: 100%;
		@include flexLeft;
		&:nth-child(1){
			background-image: url(@/static/team/1.png);
			background-position: left;
			background-size: 18upx 24upx;
			background-repeat: no-repeat;
		}
		&:nth-child(2){
			background-image: url(@/static/team/2.png);
			background-position: left;
			background-size: 18upx 24upx;
			background-repeat: no-repeat;
		}
		&:nth-child(3){
			background-image: url(@/static/team/3.png);
			background-position: left;
			background-size: 18upx 24upx;
			background-repeat: no-repeat;
		}
		&--active{
			& > view{
				color: #BE5C1B;
				&:nth-child(1){
					color: #624023;
				}
			}
		}
		&__item{
			font-size: 24upx;
			font-family: PingFang SC, PingFang SC-Bold;
			font-weight: 700;
			text-align: left;
			color: #624023;
			width: 18%;
			border-bottom: 1px solid rgba(176,157,126,.5);
			padding: 25upx 0;
			&:nth-child(1){
				width: 25%;
			}
			&:nth-child(2){
				width: 32%;
				flex: 1;
			}
			&:nth-last-child(1){
				text-align: right;
				width: 40%;
			}
			&--width{
				width: 34% !important;
			}
		}
	}
}