.pages {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url(@/static/shop/img-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.initListBox{
	&-bg{
		// height: 72vh;
		// padding: 60upx 0 106upx;
		background-image: url(@/static/shop/icon-shop-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: auto;
		padding: 60upx 0 60upx;
		margin: 40upx auto 0;
		width: 90%;
	}
	&-market{
		position: relative;
	}
}

.scroll{
	&-height{
		height: calc(100vh - 20upx);
	}
}
.headerTop{
	padding-bottom: 23%;
	top: 80upx;
}