.cardBox {
	&-wrapper {
		height: calc(100vh - 400upx - 160upx);
		padding: 0 30upx;
	}

	&-plane {
		padding: 20upx 0;
	}

	&-dropdownBox {
		margin-bottom: 30upx;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-item {
		background-color: #ffffff;
		width: calc((100% - 80upx) / 4);
		border-radius: 14upx;
		padding: 8upx;
		margin: 10upx;

		&__header {
			position: relative;
			border-bottom-left-radius: 6upx;
			border-bottom-right-radius: 6upx;
			overflow: hidden;
		}

		&__card {
			@include fullImage;
			width: 100%;
		}

		&__gradBg {
			@include flexLeft;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 40upx;
			padding: 0 10upx;

			&::before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			&--style1 {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#717171+0,717171+100&0+0,1+75 */
				background: -moz-linear-gradient(top, rgba(113, 113, 113, 0) 0%, rgba(113, 113, 113, 1) 75%, rgba(113, 113, 113, 1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(113, 113, 113, 0) 0%, rgba(113, 113, 113, 1) 75%, rgba(113, 113, 113, 1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to bottom,
					rgba(113, 113, 113, 0) 0%,
					rgba(113, 113, 113, 1) 75%,
					rgba(113, 113, 113, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00717171', endColorstr='#717171',GradientType=0 ); /* IE6-9 */
			}

			&--style2 {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9f39ce+0,9f39ce+100&0+0,1+75 */
				background: -moz-linear-gradient(top, rgba(159, 57, 206, 0) 0%, rgba(159, 57, 206, 1) 75%, rgba(159, 57, 206, 1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(159, 57, 206, 0) 0%, rgba(159, 57, 206, 1) 75%, rgba(159, 57, 206, 1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to bottom,
					rgba(159, 57, 206, 0) 0%,
					rgba(159, 57, 206, 1) 75%,
					rgba(159, 57, 206, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009f39ce', endColorstr='#9f39ce',GradientType=0 ); /* IE6-9 */
			}

			&--style3 {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a1916+0,1a1916+100&0+0,1+75 */
				background: -moz-linear-gradient(top, rgba(26, 25, 22, 0) 0%, rgba(26, 25, 22, 1) 75%, rgba(26, 25, 22, 1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(26, 25, 22, 0) 0%, rgba(26, 25, 22, 1) 75%, rgba(26, 25, 22, 1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to bottom,
					rgba(26, 25, 22, 0) 0%,
					rgba(26, 25, 22, 1) 75%,
					rgba(26, 25, 22, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1916', endColorstr='#1a1916',GradientType=0 ); /* IE6-9 */
			}

			&--style4 {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e00406+0,e00406+100&0+0,1+75 */
				background: -moz-linear-gradient(top, rgba(224, 4, 6, 0) 0%, rgba(224, 4, 6, 1) 75%, rgba(224, 4, 6, 1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(224, 4, 6, 0) 0%, rgba(224, 4, 6, 1) 75%, rgba(224, 4, 6, 1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to bottom,
					rgba(224, 4, 6, 0) 0%,
					rgba(224, 4, 6, 1) 75%,
					rgba(224, 4, 6, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e00406', endColorstr='#e00406',GradientType=0 ); /* IE6-9 */
			}

			&--style5 {
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a28500+0,a28500+100&0+0,1+75 */
				background: -moz-linear-gradient(top, rgba(162, 133, 0, 0) 0%, rgba(162, 133, 0, 1) 75%, rgba(162, 133, 0, 1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(162, 133, 0, 0) 0%, rgba(162, 133, 0, 1) 75%, rgba(162, 133, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to bottom,
					rgba(162, 133, 0, 0) 0%,
					rgba(162, 133, 0, 1) 75%,
					rgba(162, 133, 0, 1) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a28500', endColorstr='#a28500',GradientType=0 ); /* IE6-9 */
			}
		}

		&__power {
			font-family: 'DINPro';
			color: #ffffff;
			font-size: 22upx;
			font-weight: 300;

			background-image: url(@/static/public/icon-attributes-power.png);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 24upx 24upx;
			padding-left: 30upx;
		}

		&__content {
			@include flexCenterColumn;

			&::before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 1px;
				margin: 10upx 0;

				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#54330a+0,54330a+50,54330a+100&0.05+0,1+50,0.05+100 */
				background: -moz-linear-gradient(left, rgba(84, 51, 10, 0.05) 0%, rgba(84, 51, 10, 1) 50%, rgba(84, 51, 10, 0.05) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(84, 51, 10, 0.05) 0%, rgba(84, 51, 10, 1) 50%, rgba(84, 51, 10, 0.05) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(
					to right,
					rgba(84, 51, 10, 0.05) 0%,
					rgba(84, 51, 10, 1) 50%,
					rgba(84, 51, 10, 0.05) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d54330a', endColorstr='#0d54330a',GradientType=1 ); /* IE6-9 */
			}
		}

		&__title {
			color: #54330a;
			font-size: 26upx;
		}
	}
}

.dropdownBox {
	&-header {
		@include flexLeft;
		margin-bottom: 20upx;

		&::after {
			content: '';
			display: block;
			flex: 1;
			height: 1px;
			background-color: #ffffff;
		}
	}

	&-label {
		color: #ffffff;
		font-size: 24upx;

		&--style1 {
			color: #fdaf35;
		}

		&--style2 {
			color: #f92222;
		}
	}

	&-arrow {
		background-image: url(@/static/public/icon-dropdown.png);
		background-size: 22upx 14upx;
		background-position: center;
		background-repeat: no-repeat;
		width: 22upx;
		height: 14upx;
		margin: 0 8upx;
	}

	&-body {
		@include flexLeft;
		flex-wrap: wrap;
	}
}

.initTitle {
	margin: 45upx 0;
}
