.recordBox {
	&-wrapper {
		height: calc(100vh - 400upx);
		padding: 30upx;
		padding-bottom: 190upx;
	}

	&-plane {
		width: 690upx;
		height: 756upx;
		background-image: url(@/static/public/icon-paper-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 90upx 45upx;
	}
}

.orderBox {
	&-wrapper {
		height: 590upx;
	}

	&-list {
		margin-bottom: 30upx;
		
		&:last-child{
			margin-bottom: 0;
		}
		
		&__date{
			color: #54330a;
			font-size: 28upx;
			margin-bottom: 30upx;
		}
		
		&__header {
			@include flexBetween;
			margin-bottom: 20upx;
		}

		&__body {
			@include flexLeft;
			flex-wrap: wrap;
		}

		&__date {
			color: #54330a;
			font-size: 28upx;
		}
		
		&__btn{
			@include flexCenter;
			height: 42upx;
			width: 114upx;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			background-image: url(@/static/public/icon-button-style1.png);
			color: #fda435;
			font-family: 'HYQiuShi';
			font-size: 26upx;
		}

		&__item {
			width: calc(100% / 3);
			text-align: center;
			padding: 15upx 0;

			&--flex2 {
				flex: 2;
			}

			&-label {
				color: #54330a;
				font-size: 24upx;
			}

			&-data {
				color: #54330a;
				font-size: 28upx;
			}
		}
	}
}
